### This is My Third Week Project Task 2 Notebook on Toronto Neighborhood

import necessary libraries

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
soup = BeautifulSoup(source.content, 'lxml')
table_html = soup.find('table', class_='wikitable sortable')
toronto_list = pd.read_html(str(table_html), header = 0)[0]
toronto_df = pd.DataFrame(toronto_list)

In [4]:
trnto_df = toronto_df[toronto_df['Borough'] != 'Not assigned']

In [5]:
trnto_df.reset_index(drop=True, inplace=True)

In [6]:
grouped = trnto_df.groupby(['Postcode','Borough'],sort=False)['Neighbourhood'].apply(lambda x: ', '.join(x))
trnto_grouped = pd.DataFrame(grouped)
trnto_grouped.reset_index(inplace=True)

In [7]:
trnto_grouped['Neighbourhood'].replace('Not assigned',trnto_grouped['Borough'],inplace=True)

---

##### below is the code for task 2

In [8]:
url = 'http://cocl.us/Geospatial_data'
df_coordinates = pd.read_csv('http://cocl.us/Geospatial_data')

In [9]:
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df_coordinates.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [14]:
trnto_grouped.set_index('Postcode', inplace = True)
df_coordinates.set_index('Postal Code', inplace = True)

In [15]:
df_concat = pd.concat([trnto_grouped, df_coordinates], axis=1, join='inner', join_axes=[trnto_grouped.index])

In [ ]:
df_concat.reset_index(inplace = True)

In [20]:
print(df_concat.shape)
df_concat.head(15)

(103, 5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
12,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
13,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389